{{ define "main" }}
    {{ .Content }}
    {{ if isset .Site.Params "socialicons" }}
    <div class="gk-social-icons">
        <ul class="gk-social-icons-list">
            {{ range .Site.Params.SocialIcons }}
            <li class="gk-social-icon">
                <a href="{{ .url }}" target="_blank" rel="{{ if .rel }}{{ .rel }} {{ end }}noopener noreferrer" aria-label="Learn more on {{ .name }}">
                    <img class="svg-inject" src="{{ relURL "svg/icons/" }}{{ .name | lower }}.svg" alt="">
                </a>
            </li>
            {{ end }}
        </ul>
    </div>
    {{ end }}


    <div class="home-project-section">
    <h2>Top Projects</h2>
    {{ $sectionPages := where .Site.RegularPages "Section" "projects" }}
    {{ $filteredPages := where $sectionPages "Params.favoriteProject" true }}

    {{ range $filteredPages }}
        <div class="project-card"> 
            <div>
                <h3 class="card-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
                {{ .Summary }}
            </div>
        {{ with .Resources.Get .Params.image }}
            {{ if reflect.IsImageResourceProcessable . }}
                {{ with .Process "resize 1000x webp, crop 1500x1200 left" }}
                    <img src="{{ .RelPermalink }}">
                {{ end }}
            {{ else }}
                <img src="{{ .RelPermalink }}">
            {{ end }}
        {{ end }}
        </div>
    {{ end }}

    </div>
{{ end }}
