{{ define "main" }}
  <div class="container">
    <h1>{{ .Title }}</h1>
    {{ .Content }}
    {{ range .Pages }}
      <div class="project-card"> 
        <div>
          <h3 class="card-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
          {{ .Summary }}
        </div>
        {{ with .Resources.Get .Params.image }}
          {{ if reflect.IsImageResourceProcessable . }}
            {{ with .Process "resize 1000x webp, crop 1500x1800 left" }}
                <img src="{{ .RelPermalink }}">
            {{ end }}
          {{ else }}
            <img src="{{ .RelPermalink }}">
          {{ end }}
        {{ end }}
      </div>
    {{ end }}
  </div>
{{ end }}
